mock-data-generator/node_modules/*
sample/*
.vscode/*
mock-data-generator/markers/*
batch-app/markers/*
/.idea/
.DS_Store
**/.DS_Store

# React frontend
java-app/frontend/node_modules/
java-app/frontend/dist/
